.flexbox-container{
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.flexbox-container div{
    flex: 1;
}

.inner-column{
    display: flex;
    flex-direction: column;
}

.flexbox-item1{
    align-items: center;
}

.flexbox-item2{
}

.section-1{
    background-color: #484e9c;
    border-color: #484e9c;;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-1-header{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight:700;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 35px;
}

.section-div{
    padding-top: 70px; 
    padding-bottom: 70px;
}

.bakkup-img{
    width: 100%;
    max-width: 300px;
    display: block;
    text-align: center;
    padding-left: 160px;
    padding-bottom: 35px;
}

.main-img{
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 337px;
    padding-left: 110px;
}

.paragraph-white{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 35px;
}

.start-btn{
    font-family: "Poppins", sans-serif;
    border: 0;
    border-radius: 40px;
    padding: 16px 145px;
    background-color: #01e9c2;
    color: #2c316e;
    font-size: 18px;
    font-weight:700;
    line-height: 1.5;
    cursor: pointer;
}

.start-btn:hover{
    transition-duration: 0.3s;
    background-color:#00c2a2;
}

.section-2{
    background-color: #f2f4f7;
    border-color: #f2f4f7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-2-header{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 50px;
}

.train-session-img{
    width: 300px;
    height:349px;
    padding-left: 160px;
}

.paragraph-gray{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.section-3{
    background-color: #ffffff;
    border-color: #ffffff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-3-subheader{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 30px;
}

.section-3-vert-center{
    justify-content:center;
}

.cloud-process-img{
    width: 600px;
    height: 600px;
    padding-right: 40px;
}

.dashboard-img{
    width: 600px;
    height: 476px;
    padding-left: 40px;
}

.customer-support-img{
    width: 600px;
    height: 600px;
    padding-right: 40px;
}

.hard-drive-img{
    width: 600px;
    height: 600px;
    padding-left: 40px;
}

.section-4{
    background-color: #f2f4f7;
    border-color: #f2f4f7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-4-header{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 50px;
}

.money-back-img{
    width: 300px;
    padding-left: 130px;
}

.section-5{
    background-color: #484e9c;
    border-color: #484e9c;;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-img-container{
    display:flex; 
    justify-content:center;
}

.footer-bakkup-img{
    width: 100px;
    display: block;
    padding-bottom: 5px;
}

.copyright-text{
    font-family: "Roboto", sans-serif;
    color: #f2f4f7;
    font-size: 12px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 5px;
}

.footer-links{
    color: #ffffff;
    margin: 0;
}

.footer-links a{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 13px;
}

