html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.inner-column{
    display: flex;
    flex-direction: column;
}

.section-1-flex-container{
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-1{
    background-color: #484e9c;
    border-color: #484e9c;;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-1-container{
    padding: 70px 130px 70px 130px;
}

.section-1-header{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight:700;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 35px;
}

.bakkup-img{
    display: block;
    width: 300px;
    text-align: center;
    padding-left: 130px;
}

.business-presentation-img{
    display: block;
    width: 400px;
    height: 337px;
    padding-top: 35px;
    padding-right: 80px;
    padding-left: 80px;
}

.sec-1-par-1{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 35px;
}

.paragraph-white{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 35px;
}

.start-btn{
    background-color: #01e9c2;
    color: #2c316e;
    padding: 20px 32px;
    width: 100%;
    min-height: 60px;
    min-width: 120px;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
}

.start-btn-txt{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight:700;
    text-decoration: none;
}

.start-btn:hover{
    transition-duration: 0.3s;
    background-color:#00c2a2;
}

.section-2{
    background-color: #f2f4f7;
    border-color: #f2f4f7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-2-flex-container{
    padding: 50px 110px 70px 110px;
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.section-2-header{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    padding-top: 70px; 
}

.train-session-img{
    display: block;
    width: 300px;
    height:349px;
    padding-left: 120px;
    padding-right: 80px;
}

.section-2-txt{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-right: 60px;
}

.section-3{
    background-color: #ffffff;
    border-color: #ffffff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-3-header{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    padding-top: 70px; 
    padding-bottom: 5px;
}

.section-3-subheader{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 30px;
}

.cloud-storage-section{
    padding-left: 30px;
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.sec-3-par-1{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.backup-section{
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.sec-3-par-2{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.customer-support-section{
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.sec-3-par-3{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.hard-drive-section{
    padding-left: 30px;
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.sec-3-par-4{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.vertical-center{
    justify-content: center;
}

.cloud-storage-img{
    display: block;
    width: 600px;
    height: 600px;
    padding-right: 40px;
}

.dashboard-img{
    display: block;
    width: 600px;
    height: 476px;
    padding-left: 40px;
}

.customer-support-img{
    display: block;
    width: 600px;
    height: 600px;
    padding-right: 40px;
}

.hard-drive-img{
    display: block;
    width: 600px;
    height: 600px;
    padding-left: 40px;
}

.section-4{
    background-color: #f2f4f7;
    border-color: #f2f4f7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.section-4-header{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    padding-top: 70px; 
}

.section-4-flex-container{
    padding: 50px 130px 70px 130px;
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.money-back-img{
    display: block;
    width: 315px;
    padding-left: 110px;
    padding-right: 40px;
}

.section-4-txt{
    padding-right: 80px;
}

.sec-4-par-1{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.sec-4-par-2{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.sec-4-par-3{
    font-family: 'Roboto', sans-serif; 
    color: #4C515D; 
    font-size: 20px; 
    margin: 0;
}

.section-5{
    background-color: #484e9c;
    border-color: #484e9c;;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-bakkup-img{
    display: block;
    width: 100px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.copyright-text{
    font-family: "Roboto", sans-serif;
    color: #e0e1e2;
    font-size: 12px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 5px;
}

.footer-links{
    color: #ffffff;
    margin: 0;
}

.footer-links a{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 13px;
    text-decoration: underline;
}

.footer-links a:hover{
    text-decoration: none;
}

.legal-link{
    padding-right:10px;
}

.privacy-link{
    padding-left: 10px; 
    padding-right:10px;
}

.security-link{
    padding-left: 10px;
}


/* Desktops, Large screens (if smaller than 1200px then run code)*/
@media only screen and (max-width:1200px){
    .section-1-container{
        padding: 70px 100px 70px 100px;
    }

    .bakkup-img{
        padding-left: 50px;
    }

    .business-presentation-img{
        padding-left: 0px;
        padding-right: 80px;
    }

    .section-2-container{
        padding-left: 110px;
        padding-right: 110px;
    }

    .train-session-img{
        padding-left: 80px;
    }

    .cloud-storage-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }

    .cloud-storage-img{
        width: 500px;
        height: 500px;
    }

    .backup-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }

    .dashboard-img{
        width: 500px;
        height: 400px;
    }

    .customer-support-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }

    .customer-support-img{
        width: 500px;
        height: 500px;
    }

    .hard-drive-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .hard-drive-img{
        width: 500px;
        height: 500px;
    }

    .section-4-flex-container{
        padding-left: 90px;
        padding-right: 90px;
    }

    .money-back-img{
        width: 315px;
        padding-left: 100px;
        padding-right: 80px;
    }
}

/* Laptops, Small screens (if smaller than 1024px then run code)*/
@media only screen and (max-width:1024px){
    .section-1-container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-1-flex-container{
        display: block;
    }

    .section-1-header{
        text-align: center;
        font-size: 35px;
        padding-left: 120px;
        padding-right: 120px;
    }

    .sec-1-par-1{
        text-align: justify;
        text-justify: inter-word;
        padding-left: 100px;
        padding-right: 100px;
    }

    .bakkup-img{
        width: 300px;
        margin: 0 auto;
        padding-left: 0px;
    }

    .business-presentation-img{
        width: 400px;
        height: 337px;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 35px;
    }

    .start-btn-container{
        padding-left: 100px;
        padding-right: 100px;
    }

    .start-btn{
        padding: 10px 27px 10px 27px;
        width: 100%;
        min-height: 60px;
        min-width: 120px;
    }

    .section-2-flex-container{
        display: block;
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-2-header{
        padding-left: 80px;
        padding-right: 80px;
    }

    .train-session-img{
        padding: 0px 0px 50px 0px;
        margin: 0 auto;
    }

    .section-2-txt{
        text-align: justify;
        text-justify: inter-word;
        padding-left: 100px;
        padding-right: 100px;
    }

    .sec-2-par-1{
        margin:0;
        padding-bottom: 35px;
    }

    .sec-2-par-2{
        margin:0;
        padding-bottom: 35px;
    }

    .sec-2-par-3{
        margin:0;
    }

    .section-3-header{
        padding-left: 80px;
        padding-right: 80px;
    }

    .section-4-flex-container{
        display: block;
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-4-header{
        padding-left: 80px;
        padding-right: 80px;
    }

    .money-back-img{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
        margin: 0 auto;
    }

    .section-4-txt{
        text-align: justify;
        text-justify: inter-word;
        padding-left: 100px;
        padding-right: 100px;    
    }
}

/* iPads, Tablets (if smaller than 768px then run code)*/
@media only screen and (max-width:768px){
    .section-1-container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-1-header{
        font-size: 35px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .sec-1-par-1{
        padding-left: 0px;
        padding-right: 0px;
    }

    .bakkup-img{
        width: 300px;
        padding-left: 0px;
    }

    .business-presentation-img{
        padding-right: 0px;
        padding-bottom: 35px;
    }

    .start-btn-container{
        padding-left: 0px;
        padding-right: 0px;
    }

    .start-btn{
        padding: 10px 27px;
        width: 100%;
        min-height: 60px;
        min-width: 120px;
    }

    .start-btn-txt{
        font-size: 16px;
    }

    .section-2-flex-container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-2-header{
        padding-left: 50px;
        padding-right: 50px;
    }

    .train-session-img{
        padding: 0px 0px 50px 0px;
    }

    .section-2-txt{
        padding-left: 0px;
        padding-right: 0px;
    }

    .sec-2-par-1{
        margin:0;
        padding-bottom: 35px;
    }

    .sec-2-par-2{
        margin:0;
        padding-bottom: 35px;
    }

    .sec-2-par-3{
        margin:0;
    }

    .cloud-storage-section{
        flex-direction: column;
        padding-right: 0px;
        padding-left: 0px;
    }

    .section-3-header{
        font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 5px;
    }

    .cloud-storage-img{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 15px;
    }

    .section-3-subheader{
        font-size: 20px;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }

    .sec-3-par-1{
        font-size: 18px;
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
    }

    .backup-section{
        flex-direction: column-reverse;
        padding-left: 0px;
        padding-right: 0px;
    }

    .dashboard-img{
        width: 330px;
        height: 230px;
        margin: 0 auto;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .sec-3-par-2{
        font-size: 18px;
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
    }

    .customer-support-section{
        flex-direction: column;
        padding-left: 0px;
        padding-right: 0px;
    }

    .customer-support-img{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        padding-right: 0px;
        padding-left: 0px;
    }

    .sec-3-par-3{
        font-size: 18px;
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
    }

    .hard-drive-section{
        flex-direction: column-reverse;
        padding-left: 0px;
        padding-right: 0px;
    }

    .hard-drive-img{
        width: 400px;
        height: 400px;
        margin: 0 auto;
        padding-left: 0px;
    }

    .sec-3-par-4{
        font-size: 18px;
        text-align: center;
        padding-left: 120px;
        padding-right: 120px;
        padding-bottom: 50px;
    }

    .section-4-flex-container{
        padding-left: 50px;
        padding-right: 50px;
    }

    .section-4-header{
        padding-left: 50px;
        padding-right: 50px;
    }

    .money-back-img{
        width: 290px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
    }

    .section-4-txt{
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Mobile (if smaller than 500px then run code)*/
@media only screen and (max-width:500px){
    .section-1-container{
        padding: 50px 0px 50px 0px;
    }

    .bakkup-img{
        width: 260px;
    }

    .business-presentation-img{
        width: 300px;
        height: 237px;
        margin: 0 auto;
        padding-right: 0px;
        padding-bottom: 35px;
    }

    .section-1-header{
        font-size: 30px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .sec-1-par-1{
        font-size: 18px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .start-btn-container{
        padding-left: 35px;
        padding-right: 35px;
    }

    .section-2-flex-container{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
    }

    .section-2-txt{
        padding-left: 35px;
        padding-right: 35px;
    }

    .section-2-header{
        font-size: 30px;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 50px;
    }

    .train-session-img{
        width: 250px;
        height:299px;
    }

    .sec-2-par-1{
        font-size: 18px;
    }

    .sec-2-par-2{
        font-size: 18px;
    }

    .sec-2-par-3{
        font-size: 18px;
    }

    .section-3-header{
        font-size: 30px;
        padding: 50px 35px 30px 35px;
    }

    .cloud-storage-img{
        width: 310px;
        height: 310px;
    }

    .section-3-subheader{
        font-size: 18px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 20px;
    }

    .sec-3-par-1{
        font-size: 18px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .dashboard-img{
        width: 330px;
        height: 230px;
    }

    .sec-3-par-2{
        font-size: 18px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .customer-support-img{
        width: 300px;
        height: 300px;
    }

    .sec-3-par-3{
        font-size: 18px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .hard-drive-img{
        width: 330px;
        height: 330px;
    }

    .sec-3-par-4{
        font-size: 18px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 50px;
    }

    .section-4-header{
        font-size: 30px;
        padding-top: 50px;
    }

    .section-4-flex-container{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
    }

    .section-4-txt{
        padding-left: 35px;
        padding-right: 35px;
    }

    .sec-4-par-1{
        font-size: 18px;
    }

    .sec-4-par-2{
        font-size: 18px;
    }

    .sec-4-par-3{
        font-size: 18px;
    }

    .section-5{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer-bakkup-img{
        width: 75px;
    }
}