html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.flexbox-container{
    display: flex;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.flexbox-container div{
    flex: 1;
}

.inner-column{
    display: flex;
    flex-direction: column;
}

.flexbox-item1{
    align-items: center;
}

.section-1{
    background-color: #484e9c;
    border-color: #484e9c;;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 70px; 
    padding-bottom: 70px;
}

.section-1-container{
    padding-right: 135px;
}

.section-1-header{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight:700;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 35px;
}

.bakkup-img{
    width: 100%;
    max-width: 300px;
    display: block;
    text-align: center;
    padding-left: 160px;
    padding-bottom: 35px;
}

.main-img{
    display: inline-block;
    vertical-align: middle;
    width: 400px;
    height: 337px;
    padding-left: 110px;
}

.sec-1-par-1{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 35px;
}

.paragraph-white{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 35px;
}

.start-btn{
    background-color: #01e9c2;
    color: #2c316e;
    padding: 16px 145px;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight:700;
    line-height: 1.5;
}

.start-btn:hover{
    transition-duration: 0.3s;
    background-color:#00c2a2;
}

.section-2{
    background-color: #f2f4f7;
    border-color: #f2f4f7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 70px; 
    padding-bottom: 70px;
}

.section-2-container{
    padding-right: 135px;
}

.section-2-header{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 50px;
}

.train-session-img{
    width: 300px;
    height:349px;
    padding-left: 160px;
}

.paragraph-gray{
    font-family: "Roboto", sans-serif;
    color: #4C515D;
    font-size: 20px;
    margin: 0;
    padding-bottom: 35px;
}

.section-3{
    background-color: #ffffff;
    border-color: #ffffff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.section-3-subheader{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 30px;
}

.cloud-storage-section{
    padding-left: 30px;
}

.backup-section{
    padding-top: 40px;
    padding-left: 30px;
}

.customer-support-section{
    padding-top: 40px;
    padding-left: 30px;
}

.hard-drive-section{
    padding-left: 30px;
}


.vertical-center{
    justify-content:center;
}

.cloud-storage-img{
    width: 600px;
    height: 600px;
    padding-right: 40px;
}

.dashboard-img{
    width: 600px;
    height: 476px;
    padding-left: 40px;
}

.customer-support-img{
    width: 600px;
    height: 600px;
    padding-right: 40px;
}

.hard-drive-img{
    width: 600px;
    height: 600px;
    padding-left: 40px;
}

.section-4{
    background-color: #f2f4f7;
    border-color: #f2f4f7;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 70px; 
    padding-bottom: 70px;
}

.section-4-header{
    font-family: "Poppins", sans-serif;
    color: #2C316E;
    font-size: 32px;
    line-height: 1.1;
    margin: 0;
    padding-bottom: 50px;
}

.section-4-container{
    padding-right: 135px;
}

.money-back-img{
    width: 315px;
    padding-left: 165px;
}

.sec-4-par-3{
    font-family: 'Roboto', sans-serif; 
    color: #4C515D; 
    font-size: 20px; 
    margin: 0;
}

.section-5{
    background-color: #484e9c;
    border-color: #484e9c;;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-img-container{
    display:flex; 
    justify-content:center;
}

.footer-bakkup-img{
    width: 100px;
    display: block;
    padding-bottom: 5px;
}

.copyright-text{
    font-family: "Roboto", sans-serif;
    color: #e0e1e2;
    font-size: 12px;
    line-height: 1.7;
    margin: 0;
    padding-bottom: 5px;
}

.footer-links{
    color: #ffffff;
    margin: 0;
}

.footer-links a{
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-size: 13px;
    text-decoration: underline;
}

.footer-links a:hover{
    text-decoration: none;
}

.legal-link{
    padding-right:10px;
}

.privacy-link{
    padding-left: 10px; 
    padding-right:10px;
}

.security-link{
    padding-left: 10px;
}

/* old */
/* @media only screen and (max-width: 600px) {
    .flexbox-container{
        display: block;
        width: 600px;
    }
    .inner-column{
        display: block;
        flex-direction: column;
    }
    .bakkup-img{
        width: 100%;
        max-width: 350px;
        display: block;
        text-align: center;
        padding-left: 135px;
        padding-bottom: 35px;
    }
    .main-img{
        width: 400px;
        height: 337px;
        padding-left: 105px;
    }

} */


/* Desktops, Large screens (if smaller than 1200px then run code)*/
@media only screen and (max-width:1200px){
    .main-img{
        padding-right: 80px;
    }
    .start-btn{
        background-color: #01e9c2;
        color: #2c316e;
        padding: 22px 145px;
        border: 0;
        border-radius: 40px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        font-weight:700;
        line-height: 1;
    }
    .cloud-storage-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    .cloud-storage-img{
        width: 500px;
        height: 500px;
    }
    .backup-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    .dashboard-img{
        width: 500px;
        height: 400px;
    }
    .customer-support-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    .customer-support-img{
        width: 500px;
        height: 500px;
    }
    .hard-drive-section{
        margin: 0;
        padding-left: 50px;
        padding-right: 50px;
    }
    .hard-drive-img{
        width: 500px;
        height: 500px;
    }
}

/* Laptops, Small screens (if smaller than 1024px then run code)*/
@media only screen and (max-width:1024px){

}

/* iPads, Tablets (if smaller than 768px then run code)*/
@media only screen and (max-width:768px){

}

/* Mobile (if smaller than 480px then run code)*/
@media only screen and (max-width:480px){

}